<section class="scroll-content">
	<h1>{{data.name}}</h1>


	{{#if data.constructor}}
		<h2>Constructor</h2>
		{{#with data.constructor}}
			<article class="class-item consturctor" id="{{name}}">
				<h3>new {{name}}()</h3>
				<div class="description">{{markdown description}}</div>
		</article>
		{{/with}}
		<hr>
	{{/if}}

	{{#if data.properties}}
		<h2>Properties</h2>
		{{#each data.properties}}
		{{#unless hidden}}{{#unless private}}

			<article class="class-item properties" id="{{name}}">
				<h3 class="title">{{name}}<span class="type">: {{type}}</span></h3>
				<div class="description">{{markdown description}}</div>
			</article>

		{{/unless}}{{/unless}}
		{{/each}}
		<hr>
	{{/if}}

	{{#if data.methods}}
		<h2>Methods</h2>

		{{#each data.methods}}
		{{#unless hidden}}{{#unless private}}

			{{#if static}}
				<article class="class-item methods" id="{{name}}">
					<h3 class="title"><span class="static-label">static</span> {{name}}{{#if return}} <span class="type">&rarr; {{return.type}}</span>{{/if}}</h3>

					<div class="description">{{markdown description}}</div>

					{{#if return}}
					<div class="return">
						<h4>Returns:</h4>
						<span class="type">{{return.type}}</span> - {{return.description}}
					</div>
					{{/if}}
				</article>
			{{/if}}

		{{/unless}}{{/unless}}
		{{/each}}

		{{#each data.methods}}
		{{#unless hidden}}{{#unless private}}

			{{#unless static}}
				<article class="class-item methods" id="{{name}}">
					<h3 class="title">{{name}}{{#if return}} <span class="type">&rarr; {{return.type}}</span>{{/if}}</h3>

					<div class="description">{{markdown description}}</div>

					{{#if return}}
					<div class="return">
						<h4>Returns:</h4>
						<span class="type">{{return.type}}</span> - {{return.description}}
					</div>
					{{/if}}
				</article>
			{{/unless}}

		{{/unless}}{{/unless}}
		{{/each}}
	{{/if}}
</section>